<div class="jumbotron">
  <h1 class="display-4">Hello, Welcome to Earn While Learn</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/browse-jobs-result" role="button">Browse Jobs</a>
  </p>
</div>

<div class="container">
	<div class="row">	
		<% @job_categories.each do |jc| %>
			<div class="col-sm-3">	
				<div class="card jc-card">
					<img class="card-img-top" src="<%= jc.icon_url%>" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title"><%= jc.name %></h5>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>

<style type="text/css">
	.jc-card {margin-bottom: 2%;}
	.card-img-top{
		height: 150px
	}
</style>